params {
	fastq = "data/*_{1,2}*"
//	schemaPath = "../listeria_db/"
//	fasta = "data_fa/*_{1,2}*"
	assembler = "shovill"
//	from_contigs = false
//	chewie = true
}

env {
	PYTHONPATH = "baseDir/templates"
    }

process {
//	cpus = 1
	memory = "1GB"
	errorStrategy = "retry"
        maxRetries = 2
}


	
//process.$shovill.container = 'shub://phgenomics-singularity/shovill'
process.$chewie.container = 'docker://ummidock/chewbbaca:py3'
process.memory = '4GB'
singularity.enabled = true
	

