params {
	fastq = 'data/*_{1,2}*'
	schemaPath = 'path/to/library'
	assembler = 'shovill'
	chewie = 'true'
	contigs = 'none'
	contig_size = 200
}

env {
	PYTHONPATH = "baseDir/templates"
   }

process {
//	cpus = 1
	memory = "1GB"
	errorStrategy = "retry"
        maxRetries = 2
}

profiles {
	standard {
		process.$assembly.container = 'shub://phgenomics-singularity/multi_assembler_singularity@latest'
//		process.$chewie.container = 'docker://ummidock/chewbbaca:py3'
		}
	spades {
                process.$assembly.container = 'shub://phgenomics-singularity/multi_assembler_singularity@spades.v3.7'
                process.$chewie.container = 'docker://ummidock/chewbbaca:py3'
		}
	chewi {
//		process.$chewie.container = 'docker://ummidock/chewbbaca:py3'
		}

}
	

//process.$chewie.container = 'docker://ummidock/chewbbaca:py3'
process.memory = '4GB'
singularity.enabled = true
	
manifest.mainScript = 'coreugate.nf'
