params {
	fastq = "data/*_{1,2}*"
	schemaPath = "path/to/library"
	assembler = "shovill"
}

env {
	PYTHONPATH = "baseDir/templates"
    }

process {
//	cpus = 1
	memory = "1GB"
	errorStrategy = "retry"
        maxRetries = 2
}


	

process.$chewie.container = 'docker://ummidock/chewbbaca:py3'
process.memory = '4GB'
singularity.enabled = true
	

